@import "tailwindcss";


html {
  @apply bg-teal-300;
}

button {
  /* background: var(--background-2);
  color: white;
  border: none;
  border-radius: 0.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.03em; */
}