@import './base.css';

body {
  width: 100%;
  display: grid;
  justify-content: stretch;
}

nav {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  justify-items: stretch;
}
nav a {
  display: block;
  padding: 0.25rem 0.5rem;
  background: var(--background-4);
  text-decoration: none;
  color: var(--background-1);
  text-transform: uppercase;
  letter-spacing: 0.03em;
  font-weight: 700;
  font-size: 0.8rem;
}
nav a.router-link-active, nav a.active {
  background: var(--accent-4);
  color: var(--accent-1)
}



footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 0.5rem;
}