@import './base.css';

nav a {
  @apply 
    px-3 py-1 
    bg-teal-300 text-teal-700 
    uppercase
    text-sm
    font-bold
    font-stretch-extra-expanded
    tracking-widest;
}
nav a.router-link-active, nav a.active {
  @apply bg-pink-200 text-pink-700;
}

h1 {
  @apply 
    flex
    justify-between
    text-xl/5
    font-semibold 
    text-center
    bg-teal-100 text-teal-700;
}

h1 > * {
  @apply text-center p-3;
  min-width: 2.75rem;
}



/* footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
  padding: 0.5rem;
} */